* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

p {
  text-decoration: none;
  margin: 0%;
}

body {
  margin: 0;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: #121212;
}

.mainWrapper {
  width: 70%;
  height: 900px;
  margin: 0 auto; /*가운데 정렬*/
}
