.Footer {
  width: 100vw;
  background-color: rgb(97, 98, 101);
}

.contents {
  padding: 30px 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contents p {
  margin: 5px;
  font-size: 14px;
  color: white;
}

@media all and (max-width: 768px) {
  .contents {
    margin: 6%;
    right: 6%;
  }
}
