.blank {
  display: inline-block;
  align-items: center;
  
}

.blank li {
  display: inline-block;
  margin: 10px;

}

.blank div {
  align-self: center;
  height: 100%;
}

.ulTable-inside1 > li {
  width:6.5%;
  font-weight: 400;
  float: left;
  font-size: 1em;
  color: #444444;
  border-bottom : 1px solid #aaaaaa;
  border-right : 1px solid #aaaaaa;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ulTable-inside3 li {
  width:6.5%;
}

.ulTable-inside1 .name {
  width:9%;
  border-left : 1px solid #aaaaaa;
}
.table-head .name {
  width:9%;
  border-left : 1px solid #aaaaaa;
}

.table-head li{
  width:6.5%;
  font-weight: lighter;
  float: left;
  font-size: 1em;
  border-bottom : 1px solid black;
  border-right : 1px solid  #aaaaaa;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ulTable-inside1 .vac1 {
  background-color: rgb(238, 255, 221);
  color: rgb(27, 59, 27);
  font-weight: 500;

}

.ulTable-inside1 .absent {
  background-color: rgb(255, 222, 222);
  color: rgb(59, 27, 27);
  font-weight: 500;
}

.ulTable > li:first-child > ul  .sat {
  color: rgb(51, 51, 240);
}

.ulTable > li:first-child > ul .sun {
  color: rgb(240, 51, 51);
}