.ulTable-notice > li              {width:10%;} /*No 열 크기*/
.ulTable-notice > li+li           {width:40%;} /*제목 열 크기*/
.ulTable-notice > li+li+li        {width:25%;} /*작성일 열 크기*/
.ulTable-notice > li+li+li+li     {width:15%;} /*작성자 열 크기*/
.ulTable-notice > li+li+li+li+li  {width:10%;} /*조회수 열 크기*/
