ul, li{
  list-style:none;
  text-align:center;
  padding:0;
  margin:0;
  align-items: center;
}

.content {
  height: 580px;
}

  .tops {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.option {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  padding: 0px 5px;
  border: 1px solid lightgray;
  outline: none;
  font-size: 15px !important;
}

.writing {
  border-radius: 30px;
  border: 1px solid lightgray;
  outline: none;
  background-color: #F5f6f9;
  color: #121212;
}

#mainWrapper{
  width: 80%;
  margin: 0 auto; /*가운데 정렬*/
}

.ulTable {
margin-top:10px;
margin-bottom:10px;
}


.ulTable > li:first-child > ul > li {
  background-color:#F5f6f9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px solid #121212;
  border-top:1px solid #121212;
  font-weight:normal;
  color: #121212;
  font-size: 1.1em;
}

.ulTable > li > ul {
  vertical-align: middle;
  clear: both;
  padding: 0px auto;
  min-width: 40px;
}
.ulTable > li > ul > li {
  height: 30px;
  float: left;
  font-size: 1em;
  border-bottom: 1px solid #808080;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #ffffff;
}

.ulTable > li > ul > li:first-child               {width:10%;} /*No 열 크기*/
.ulTable > li > ul > li:first-child +li           {width:40%;} /*제목 열 크기*/
.ulTable > li > ul > li:first-child +li+li        {width:25%;} /*작성일 열 크기*/
.ulTable > li > ul > li:first-child +li+li+li     {width:15%;} /*작성자 열 크기*/
.ulTable > li > ul > li:first-child +li+li+li+li  {width:10%;} /*조회수 열 크기*/

#divPaging {
    clear:both;
  margin:0 auto;
  width:220px;
  height:50px;
}

#divPaging > div {
  float:left;
  width: 30px;
  margin:0 auto;
  text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
  margin:0 auto;
  margin-top: 30px;
  width:auto;
  height:50px;

}

.top {
width: 40%;
height: 70%;
border-radius: 30px;
padding: 0px 20px;
border: 1px solid lightgray;
outline: none;
}

.top3 {
width: 8%;
height: 70%;
border-radius: 30px;
border: 1px solid lightgray;
outline: none;
background-color: #F5f6f9;
color: #121212;
}
.top2 {
width: 12%;
height: 70%;
border-radius: 10px;
padding: 0px 5px;
border: 1px solid lightgray;
outline: none;
}


.left {
  text-align : left;
}
