.pagination { 
  display: flex; 
  justify-content: center; 
  margin-top: 1px; 
} 

ul { 
  list-style: none; 
  padding: 0; 
} 

ul.pagination li { 
  display: inline-block; 
  width: 30px; 
  height: 30px; 
  border: 1px solid #e8e8e8; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 1rem; 
} 

ul.pagination li { 
  border-radius: 50px; 
  margin: 3px;
  padding-top: 2px;
} 

ul.pagination li a { 
  text-decoration: none; 
  color: #222222; 
  font-size: 1rem; 
  align-self: center;
} 

ul.pagination li.active a { 
  color: #121212; 
} 

ul.pagination li.active { 
  border: 1px solid#121212;;
} 

ul.pagination li a:hover, ul.pagination li a.active { 
  color: #121212;
  font-weight: 800;
} 
s
.page-selection { 
  width: 48px; 
  height: 30px; 
  color: #222222;
}
