.ulTable-request > li                    {width:5%;} /*요청인 열 크기*/
.ulTable-request > li+li                 {width:10%;} /*요청 종류 열 크기*/
.ulTable-request > li+li+li              {width:10%;} /*요청 사항 크기*/
.ulTable-request > li+li+li+li           {width:35%;} /*요청 사유 크기*/
.ulTable-request > li+li+li+li+li        {width:20%;} /*상태 크기*/
.ulTable-request > li+li+li+li+li+li     {width:20%;} /*신청일자 크기*/

.btn-req {
  padding: 4px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid #aaaaaa;
  font-size: 0.9em;
  background-color: #fde5e5;
  cursor: pointer;
}

.btn-req1 {
  padding: 4px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid #aaaaaa;
  font-size: 0.9em;
  background-color: #d9fad9;
  cursor: pointer;
}

.buttons {
  padding-top: 0;
}

.ulTable-inside2 li{
  font-weight: 400;
  color: #444444;
  float: left;
  font-size: 1em;
  border-bottom: 1px solid #808080;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rej {
  color: rgb(186, 48, 48);
}

.okay {
  color: rgb(36, 148, 137);
}