.ulTable-request > li > ul > li                    {width:10%;} /*요청인 열 크기*/
.ulTable-request > li > ul > li+li                 {width:15%;} /*요청 종류 열 크기*/
.ulTable-request > li > ul > li+li+li              {width:25%;} /*요청 사항 크기*/
.ulTable-request > li > ul > li+li+li+li           {width:10%;} /*요청 사유 크기*/
.ulTable-request > li > ul > li+li+li+li+li        {width:10%;} /*상태 크기*/
.ulTable-request > li > ul > li+li+li+li+li+li     {width:15%;} /*신청일자 크기*/
.ulTable-request > li > ul > li+li+li+li+li+li+li  {width:15%;} /*관리 크기*/