.ulTable-schedule .blank5 {
  width: 32.5%;
  background-color: rgb(222, 240, 204);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(21, 48, 21);
}

.name {
  width: 9%;
}
.ulTable-schedule li {
  width:6.5%;
  font-weight: lighter;
  float: left;
  font-size: 1em;
  border-bottom : 1px solid #aaaaaa;
  border-right : 1px solid #aaaaaa;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ulTable-schedule .blank-all {
  width: 91%;
  background-color: rgb(240, 204, 204);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(170, 64, 64);

}