.form-control {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  font-size: 1em;
}
.form-control2 {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
  font-size: 1em;
}
.name-inform {
  font-size: 1.3em;
  font-weight: 600;
}

h3 {
  text-align: left;
}

.reference {
  margin-top: 10px;
  width: 100%;
  height: 25px;
}


.container {
  width: 100%;
  height: 85vh;
  background: #f5f6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writing-box {
  width: 70%;
  height: 75vh;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.elem {
  width: 100%;
  margin-bottom: 25px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sear-btn {
  margin-left: 10px;
}

.ck.ck-editor {
  min-width: 400px;
}
.ck-editor__editable {
  min-height: 350px;
}

.date-search {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  font-size: 1em;
}

.pp {
  margin-top: 20px;
}

.elem .top44 {
  margin-right: 300px;
  margin-bottom: 40px;
}


.green {
  background-color: rgb(222, 240, 204);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(21, 48, 21);
}

.blue {
  background-color: rgb(204, 236, 240);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(21, 29, 48);
}

.red {
  background-color: rgb(240, 204, 204);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(170, 64, 64);
}

.purple {
  background-color: rgb(226, 204, 240);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(65, 29, 77);
}